/* Stylesheet for presenting material on smaller screens. */
#content { max-width: 60em; }
h1, h2, h3, div, p, ul, .MathJax_Display, .highlighttable { max-width: 40rem; }
.highlighttable div { width: auto; }
ol { max-width: 38.5rem; }
blockquote { max-width: 35rem; }
.heading > * { max-width: 38.5rem; padding: 0 0.5rem; }
.lcol, .rcol { max-width: 12em; padding: 0.5em 1em; margin: 0 auto; }
.colname, .colitem { text-align: center; }
.heading .col { padding-left: 2em; }

/* Pad all major block elements on both sides. */
p, h1, h2, h3, ol, ul, blockquote {
    padding-left: 0.5rem; padding-right: 0.5rem; }

/* Enlarge the column links. */
.colitem a { font-size: 1rem; line-height: 1.5rem; }
.colitem { padding-top: 0.25rem; }

/* Display images as separate blocks, centred horizontally. */
p a img { display: block; float: none; margin: 0 auto; padding: 1em 0; }

/* Float the previous and next buttons on either side of the post date. */
.prev { float: left; }
.next { float: right; }

/* Don't justify text on narrow devices, word spacing looks terrible. */
@media not all and (min-width: 30em) {
    #content { text-align: left; }
}
