/* Stylesheet for presenting material on larger screens. */
#content { width: 60em; }
h1, h2, h3, div, p, ul, .MathJax_Display { width: 40rem; }
ol { width: 38.5rem; }
blockquote { width: 35rem; }
.heading > * { width: 38.5rem; }
.lcol { float: left; clear: left; text-align: right; }
.rcol { float: right; clear: right; text-align: left; }
.lcol, .rcol { margin-bottom: 1.5em; }
.lcol, .lcol > *, .rcol, .rcol > * { width: 8em; }
.col { float: right; text-align: right; width: auto; }

/* Display the previous and next buttons on either side of the page. */
.prev { position: fixed; top: 50%; left: 0; }
.next { position: fixed; top: 50%; right: 0%; }
