/* Stylesheet for presenting material on smaller screens. */
#content { max-width: 60em; }
div, p, ul, .MathJax_Display { max-width: 40em; }
ol { max-width: 38.5em; }
blockquote { max-width: 35em; }
h1 { max-width: 28.57em; }
h2 { max-width: 33.33em; }
h3 { max-width: 36.36em; }
#content p, #content h1, #content h2, #content h3 {
    padding-left: 0.5rem; padding-right: 0.5rem; }
.heading > * { max-width: 38.5em; padding: 0 0.5em; }
.lcol, .rcol { max-width: 12em; padding: 0.5em 1em; margin: 0 auto; }
.colname, .colitem { text-align: center; }

/* Enlarge the column links. */
.colitem a { font-size: 1rem; line-height: 1.5rem; }
.colitem { padding-top: 0.25rem; }

/* Display images as separate blocks, centred horizontally. */
p a img { display: block; float: none; margin: 0 auto; padding: 1em 0; }

/* Float the previous and next buttons on either side of the post date. */
.prev { float: left; }
.next { float: right; }

/* Don't justify text on narrow devices, word spacing looks terrible. */
@media not all and (min-width: 30em) {
    #content { text-align: left; }
}
