/* Stylesheet for presenting material on larger screens. */
#content { width: 60em; }
h1, h2, h3, div, p, ul, .MathJax_Display, .highlighttable { width: 40rem; }
.highlighttable div { width: auto; }
ol { width: 38.5rem; }
blockquote { width: 35rem; }
.heading > * { width: 38.5rem; }
.lcol { float: left; clear: left; text-align: right; }
.rcol { float: right; clear: right; text-align: left; }
.lcol, .rcol { margin-bottom: 1.5em; }
.lcol, .lcol > *, .rcol, .rcol > * { width: 8em; }

/* Display the previous and next buttons on either side of the page. */
.prev { position: fixed; top: 50%; left: 0; }
.next { position: fixed; top: 50%; right: 0%; }

/* Make comments appear smaller than the main text of the post. */
.comment { margin-bottom: 2rem; width: 35rem;  }
.comment p { font-size: 0.95em; line-height: 1.4em; width: inherit; }
