/* Stylesheet that applies the Solarized colour theme (light). */

/* Colours common to both the light and dark colour themes. */
a { color: #268bd2; }
h1 { color: #b58900; }
h2 { color: #859900; }
h3 { color: #b58900; }
.colname { color: #2aa198; border-bottom: 2px solid #2aa198; }
.colitem a { color: #d33682; }
td.showyes { background-color: lightgreen; }
td.showno { background-color: pink; }
strong, span.author { color: #b58900; }
em, emph, span.journal, .comment .author, .comment .date { color: #859900; }
ul.navbar li a { color: #6c71c4; }
ul.navbar li a:hover { color: #cb4b16; }
ul.navbar li.navloc a { color: #2aa198; }
span.frdel { color: #859900; }
span.fradd { color: #dc322f; }

/* Colours specific to the light theme. */
html { background-color: #fdf6e3; color: #657b83; }
h2 { border-top: 2px solid #eee8d5; }
span.emph { color: #586e75; font-weight: bold; }
div.tooltip { background: #eee8d5; }
thead { background: #eee8d5; }
tr.odd { background: #eee8d5; }
tr.even { background: #fdf6e3; }
div#table { background: #eee8d5; border: 5px solid #657b83; border-left: 0; }
line, .axis, .xTicks, .yTicks { stroke: #586e75; }
text { fill: #586e75; }
p.caption { color: #586e75; }
ul.navbar { background-color: #eee8d5; }
ul.navbar li.navloc { background-color: #fdf6e3; }
div.heading { background-color: #eee8d5; }
.prev, .next { background-color: #eee8d5; border: 1px solid #eee8d5; }

/* Syntax higlighting for code segments generated with `htmlize.el`. */
div.code pre { border: 2px solid #eee8d5; }
.code .comment { color: #93a1a1; font-style: italic; }
.code .comment-delimiter { color: #93a1a1; font-style: italic; }
.code .doc { color: #93a1a1; font-style: italic; }
.code .function-name { color: #268bd2; }
.code .keyword { color: #859900; }
.code .string { color: #2aa198; }
.code .tuareg-font-lock-governing { color: #d33682; font-weight: bold; }
.code .tuareg-font-lock-operator { color: #b58900; }
.code .type { color: #b58900; }
.code .variable-name { color: #268bd2; }

/* Syntax highlighting for code blocks highlighted with `pygments`. */
.highlight { border: 1px solid #93a1a1; }
.highlight span.lineno, .highlighttable td.linenos { color: #93a1a1; }
/* Comments. */
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight.cs {
    color: #93a1a1; }
/* Keywords and literals. */
.highlight .k, .highlight .l, .highlight .ld, .highlight .il, .highlight .m,
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
  .highlight .kn, .highlight .kp { color: #859900; }
/* Errors. */
.highlight .err { color: #dc322f; }
/* Strings. */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2,
  .highlight .se, .highlight .sh, .highlight .si, .highlight .sx,
  .highlight .sr, .highlight .s1, .highlight .ss { color: #2aa198; }
/* Constant keywords. */
.highlight .kc { color: #b58900; }
/* Declarations and reserved words. */
.highlight .kd, .highlight .kr { color: #268bd2; }
/* Types. */
.highlight .kt { color: #dc322f }
