---
layout: site
---
{% unless page.category %}
  {% assign posts = site.posts %}
{% else %}
  {% assign posts = site.categories[page.category] %}
{% endunless %}
{% assign post_limit = site.max_posts %}

{% if content %}
{{ content }}
{% endif %}

{% for post in posts limit:post_limit %}
<h2>{{ post.title }}</h2>
<div class="lcol">
  <p class="colname">{{ post.date | date: "%b %-d, %Y" }}</p>
  {% if page.category == nil and post.categories %}
  {% unless page.hidecats %}
  <p class="colitem">
    <a href="{{ site.baseurl }}/{{ post.categories[0] }}">{{ post.categories[0] | capitalize }}</a>
  </p>
  {% endunless %}
  {% elsif page.category != nil %}
  {% include links_to_tags tags=post.tags category=page.category %}
  {% endif %}
</div>
{{ post.excerpt }}

<!-- Only show the "Read more" link if there *is* more content. -->
{% if post.excerpt != post.content %}
<p>
  <a href="{{ site.baseurl }}{{ post.url }}">Read more &#187;</a>
</p>
{% else %}
<p>
  <a href="{{ site.baseurl }}{{ post.url }}">View post &#187;</a>
</p>
{% endif %}
{% endfor %}

{% if post_limit < posts.size %}
<p class="caption">
  <a href="date">All posts &#187;</a>
</p>
{% endif %}
