---
layout: site
---
{% if site.show_prev_next %}
  {% assign prev_post = page.previous %}
  {% for ign_post in site.posts %}
    {% if prev_post and prev_post.category == page.category %}
    <div class="prev">
      <a href="{{ site.baseurl }}{{ prev_post.url }}" rel="prev"
               title="{{ prev_post.title }}">&laquo;</a></div>
    {% break %}
    {% else %}
      {% assign prev_post = prev_post.previous %}
    {% endif %}
  {% endfor %}
  {% assign next_post = page.next %}
  {% for ign_post in site.posts %}
    {% if next_post and next_post.category == page.category %}
    <div class="next">
      <a href="{{ site.baseurl }}{{ next_post.url }}" rel="next"
               title="{{ next_post.title }}">&raquo;</a></div>
    {% break %}
    {% else %}
      {% assign next_post = next_post.next %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="lcol postdate">
  <p class="colname">{{ page.date | date: "%b %-d, %Y" }}</p>
  {% assign category = page.categories[0] %}
  {% include links_to_tags tags=page.tags category=category %}
</div>
{% if page.galleries %}
<div class="lcol">
  <p class="colname"><img src="{{ site.base_url}}{{ site.url_img }}/photos_trans.png" alt="" />Photos</p>
  {% for url_hash in page.galleries %}
  <p class="colitem"><a href="{{ url_hash[1] }}">{{ url_hash[0] }}</a></p>
  {% endfor %}
</div>
{% endif %}
<div>
{{ content }}
{% if page.comments %}
  {% if page.comments.size == 1 %}<h3 class="comments">1 comment</h3>
  {% else %}<h3 class="comments">{{ page.comments.size }} comments</h3>
  {% endif %}
  {% for comment in page.comments %}
    <div class="comment"><p>{{ comment.text }}<br/>
    <span class="author">{{ comment.author }}</span>
    <span class="date">{{ comment.date }}</span></p>
    </div>
  {% endfor %}
{% endif %}
{% assign post_license = site.default_license %}
{% if page.license %}
{% assign post_license = page.license %}
{% endif %}
{% if post_license %}
{% for license in site.licenses %}
  {% if license.name == post_license %}
  <a rel="license" href="{{ license.url }}">
    <img src="{{ license.img }}" alt="{{ license.name }}"
         title="Licensed under a {{ license.name }} international license." />
  </a>
  {% endif %}
{% endfor %}
{% endif %}
</div>
