<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
{% capture title %}
{% if page.title %}
  {{ page.title }}
{% elsif page.category %}
  {{ page.category | capitalize }}
{% else %}
  {{ site.title }}
{% endif %}
{% endcapture %}
{% capture theme %}{% if page.theme %}{{ page.theme }}{% else %}{{ site.theme }}{% endif %}{% endcapture %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Raleway" />
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}{{ site.url_css }}/common.css" />
    <link rel="stylesheet" type="text/css" media="(min-width: 60em)"
          href="{{ site.baseurl }}{{ site.url_css }}/screen_large.css" />
    <link rel="stylesheet" type="text/css" media="not all and (min-width: 60em)"
          href="{{ site.baseurl }}{{ site.url_css }}/screen_small.css" />
    <link rel="stylesheet" type="text/css" media="not print, (monochrome)"
          href="{{ site.baseurl }}{{ site.url_css }}/{{ theme }}.css" />
    <link rel="stylesheet" type="text/css" media="print, (monochrome)"
          href="{{ site.baseurl }}{{ site.url_css }}/print.css" />
    {% if page.js_libs contains "D3" %}
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"
            charset="utf-8"></script>
    {% endif %}
    {% if page.js_libs contains "MathJax" %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      TeX: { equationNumbers: {
        autoNumber: "AMS",
        extensions: ["color.js"],
        formatID: function (n) {return 'mjx-eqn-'+String(n).replace(/[:'"<>&]/g,"")},
        formatURL: function (id) {return '#'+escape(id)},
        useLabelIds: true
      } }
      });
    </script>
    <script type="text/javascript"
      src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
  </head>
<body>

  <div id="content">
    {% unless page.hide contains "navbar" %}
    <ul class="navbar">
      {% for link_hash in site.navlinks %}
        {% for link in link_hash %}
        {% if page.navid and page.navid == link[0] %}
        <li class="navloc"><a href="{{ site.baseurl }}{{ link[1] }}">{{ link[0] }}</a></li>
        {% else %}
        <li><a href="{{ site.baseurl }}{{ link[1] }}">{{ link[0] }}</a></li>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
    {% endunless %}

    {% unless page.hide contains "title" %}
    <div>
      <h1>{{ title }}</h1>
    </div>
    {% endunless %}

    {{ content }}

    {% unless page.hide contains "footer" %}
    <p class="footer">
      <a href="http://ethanschoonover.com/solarized">solarized</a>
      /
      <a href="http://validator.w3.org/check/referer">xhtml</a>
      /
      <a href="http://jigsaw.w3.org/css-validator/check/referer">css3</a>
    </p>
    {% endunless %}

  </div>

</body>
</html>
